* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Computer Modern Serif", serif;
    font-size: 17px;
}

.content {
    max-width: 55rem;
    margin: 0 auto;
    padding: 5rem 1.5rem 12rem 1.5rem;
}

.figure {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.caption {
    padding-bottom: 1rem;
    text-align: justify;
}

h1 {
    text-align: center;
    padding-bottom: 2rem;
}

h2 {
    padding-bottom: 1rem;
}

p {
    padding-bottom: 1rem;
    text-align: justify;
}